/node_modules
/public/build
/public/hot
/public/storage

/hasob-foundation-core-bs-5/storage/*.key
/dmo-savings-bond-portal/storage/*.key
/dmo-savings-bond-module/storage/*.key

/hasob-foundation-core-bs-5/node_modules
/dmo-savings-bond-portal/node_modules
/dmo-savings-bond-module/node_modules

/hasob-foundation-core-bs-5/vendor
/dmo-savings-bond-portal/vendor
/dmo-savings-bond-module/vendor


/dmo-savings-bond-portal/.env
/dmo-savings-bond-portal/.env.backup
/dmo-savings-bond-portal/.phpunit.result.cache

/hasob-foundation-core-bs-5/composer.lock
/dmo-savings-bond-portal/composer.lock
/dmo-savings-bond-module/composer.lock

/.idea
/.vscode
